extends layout

block content

  .container-narrow(ng-controller="DefaultController")

    #fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=551483001535204";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    .top(style="position:relative")

      div.social
        p: a(href="https://twitter.com/wuimp", class="twitter-follow-button", data-show-count="false", data-lang="en") Follow
        script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        p: .fb-like.pull-right(data-href="http://www.wuimp.com", data-send="false", data-layout="button_count", data-width="450", data-show-faces="false")
        //a(href="mailto:as1cron@gmail.com", style="font-size:10px;color:#999;") as1cron@gmail.com
      .logo
        a(href="http://www.wuimp.com"): img.img-rounded(src="/img/marker128.png", width="73px")
        h1#sitename: a(href="http://www.wuimp.com") Wuimp
        span.btn.btn-mini What's up in my place !



    hr.dark

    p.what.lead Wuimp lets you check what's going on at your favorite spot, showing you instagram pics of it !

    hr.dark

    .inputs

      p: small Type minimum 3 characters and choose from what's proposed to you.
      br

      .box
        input(id="city", type="textbox", value="")
      h3 &
      .box 
        input(id="place", type="textbox", value="")

    div(ng-show="medias.length")

      hr.dark

      a#shareSource.hide(href='https://twitter.com/share=', data-lang='en', data-size="large", data-hashtags='wuimp')
      #share.pull-right
      img(src="{{place.icon}}", ng-show="place.icon", style="margin-top: -8px;margin-right:10px;")
      h3(style="display:inline") {{place.name}}
      br 
      code http://www.wuimp.com/{{hash}}

      hr.dark

      div(id="map_canvas", style="height:250px;")

      hr.dark
      
      .row-fluid.pics

        .box(ng-repeat="media in medias")
          .action
            h3 {{media.user.full_name}}
            img.img-polaroid(ng-src="{{media.user.profile_picture}}", width="150", style="")
            p(ng-show="media.user.bio") {{media.user.bio}}
            p: a.btn.btn-mini.btn-primary(ng-show="media.user.website", href="{{media.user.website}}", target="_blank") website
            span {{media.caption.text}}
          img.img-rounded(ng-src="{{media.images.standard_resolution.url}}")

        hr.dark

        a.btn.btn-large.btn-primary(href="#up")
          i.icon-arrow-up.icon-white
          |  Top
        a.btn.btn-large.btn-primary.pull-right(ng-show="next", ng-click="paginate()") More


