doctype 5
html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDegH2iep9TdHYOV9xbV6NvHn4F1Yxb9NI&sensor=false")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.1/underscore-min.js")
    script(type="text/javascript", src="/js/CompleterJS.js")
    script(type="text/javascript", src="/js/wuimp.js")
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css", rel="stylesheet")
    link(href="/css/completeMe.css", rel="stylesheet")
    style(type="text/css").
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }

  body(ng-app="myApp")
    block content
    
    
    
