script
  //  ____  _  _    __      __    ____    __    ____  __    __    ____ 
  // (  _ \( \/ )  (  )    /__\  (  _ \  /__\  ( ___)/__\  (  )  ( ___)
  //  ) _ < \  /    )(__  /(__)\  )   / /(__)\  )__)/(__)\  )(__  )__) 
  // (____/ (__)   (____)(__)(__)(_)\_)(__)(__)(__)(__)(__)(____)(____) 2012
  //
  // as1cron@gmail.com
  // @larafale
  //
doctype 5
html

  head
    title= title
    meta(charset="utf-8")
    meta(property="og:title", content="What&#039;s up in my place !")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://www.wuimp.com")
    meta(property="og:image", content="http://www.wuimp.com/img/marker.png")
    meta(property="og:site_name", content="Wuimp.com")
    <meta property="fb:admins" content="100004554964719")
    link(href='http://fonts.googleapis.com/css?family=Montserrat+Alternates', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel="shortcut icon", href="/img/favicon.ico")

    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDegH2iep9TdHYOV9xbV6NvHn4F1Yxb9NI&sensor=false")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.1/underscore-min.js")
    script
      function getId(){ return '#{id}' }
    script(type="text/javascript", src="/js/CompleterJS.js")
    link(href="/css/CompleteMe.css", rel="stylesheet")

    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css", rel="stylesheet")
    script(type="text/javascript", src="/js/wuimp.js")
    style(type="text/css").
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }

  body(ng-app="myApp")
    #up
    block content

    
